# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
+ python
+ sql
+ scala
+ java

#### Some of the popular languages that Data Scientists use are:
1. python
2. sql
3. scala

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the commonly used libraries used by Data Scientists include:
1. SciPy
2. TensorFlow
3. Pandas

|Data Science Tools|
|------------------|
|Git|
|Apache Subversion|
|Eclipse IDE|

### Below are a few examples of evaluating arithmetic expressions in Python
x=4
y=2
z=x+y

In [2]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
print(200//60)

3

## Author                                                             

## APPANA KRISHNA PREETHI